# Server
NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173

# Database
MONGODB_URI=mongodb+srv://contactvineetgarg_db_user:ohGrkbTRGlvCd2fo@cluster0.yitciiv.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=your_jwt_secret_key_here_change_this_in_production
JWT_EXPIRE=7d
ADMIN_EMAIL=admin@freshsave.com
ADMIN_PASSWORD=FreshSaveAdmin@123
ADMIN_NAME=FreshSave Admin

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret


# Optional APIs
GROK_API_KEY=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
GROK_MODEL=
GEMINI_API_KEY=AIzaSyBr0QXG_zh2RhL7BmAv8gOrlKNcwuf-AsI
SPOONACULAR_API_KEY=1c5cce11dd9a4a228acf0c2de71cbd5e

# Google Places API
GOOGLE_PLACES_API_KEY=AIzaSyD9KbVoagweh0tYs_mmzc5NoWYte6LArV8

# ... existing env variables

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=gargsahab2005@gmail.com
EMAIL_PASSWORD=tgkolqbntuvvgzrd
EMAIL_FROM=FreshSave <gargsahab2005@gmail.com>

# Frontend URL
FRONTEND_URL=http://localhost:8080
